#loggedIn{
	width: 100%;
	text-align: right;
}

#gravatar{
	width: 35px;
}

#logout{
	padding: 9px;
    vertical-align: top;
}

#pageWrap-0{
	margin: auto;
	width: 800px;
	/*overflow: auto;*/
}

#topBar{
	display: none;	
}

#header-1{
	background: #134E5E; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height:  200px;
	margin: 15px 0px 15px 0px;
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;

}

#header-1 a{
	text-decoration: none;
	font-size: 3em;
	color: black;
	width: 800px;
	height: 200px;
	display: block;
	z-index: 55;

}

#menu{	
	border-top-left-radius: 50px;
	font-family: sans-serif;
	margin: 0px 0px 15px 0px;
	background-color: #333;
	list-style-type: none;	
	/*Box Shadow */
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}

#menu li{
	float: left;
	z-index: 999;
	border-right: 2px solid white;
}

.notARealLink{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor:pointer;
}

#menu li:first-child{
	border-left: 2px solid white;
}

#menu li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu ul{
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}

#menu ul li{
	border: 0px;
}

#menu ul li:first-child{
	border: 0px;
}

#menu li:hover{
	position:relative; 
	background: #111; 
}

#menu li:hover ul{
	left: 0px;
	top: 46px;
	padding: 0px;
	background: #222;
}

#menu li:hover ul li a{
	padding: 15px;
	display: block;
	width: 168px;
	text-indent: 5px;
}

#menu li:hover ul li a:hover{
	background: #111;
}

#menu:after {
	content: "";
	display: table;
	clear: both;
}

.active {
	background-color: #4CAF50;
}

#content-2{
	font-family: sans-serif;
	text-align: justify;
}

.article{
	margin-bottom: 15px;
	background-color: #f2f2f2;
	padding: 15px;
}

/*http://codepen.io/maxds/pen/DcveB/ blockquote css insipration */
blockquote{
	display:block;
	width: 75%;
	background: #fff;
	padding: 15px 20px 15px 45px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	/*Font*/
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 1.2;
	color: #666;
	text-align: justify;

	border-left: 15px solid #4CAF50;
	border-right: 2px solid #4CAF50;

	/*Box Shadow */
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
	content: "\201C"; /*Unicode for Left Double Quote*/

	/*Font*/
	font-family: Georgia, serif;
	font-size: 60px;
	font-weight: bold;
	color: #999;

	/*Positioning*/
	position: absolute;
	left: 10px;
	top:5px;
}

blockquote::after{
	/*Reset to make sure*/
	content: "";
}

blockquote a{
	text-decoration: none;
	background: #eee;
	cursor: pointer;
	padding: 0 3px;
}

blockquote em{
	font-style: italic;
}

.subtitle{
	font-style: italic;	
}

.title a{
	text-decoration: none;
	color: #333;
}
.date{
	color: grey;
}

.articleText{
	margin-bottom: 35px;
}

.article h1{
	padding: 0px;
	margin: 3px;
	font-size: 2em;
}

.article h2{
	padding: 0px;
	margin: 3px;
	font-size: 1.5em;
}

.article h3{
	padding: 0px;
	margin: 3px;
	font-size: 0.8em;
}

#footer-4{
	margin-top: 50px;
	text-align: center;
}


#langSelector{	
	border-top-left-radius: 50px;
	font-family: sans-serif;
	list-style-type: none;	

}

#langSelector li{
	float: right;
	z-index: 999;
	border-right: 15px solid white;
}

#langSelector > ul > li.flag > a{
	height: 28px;
	width: 32px;
	display: block;
}